/* _base-colors.scss */

.color-transparent {
    color: transparent;
}
.color-danger {
    color: $color-danger;
}
.color-primary {
    color: $color-primary;
}
.color-base {
    color: $base-font-color;
}
.color-hyperlink {
    color: $color-hyperlink;
}
.color-white {
    color: white;
}
.color-gray-dark {
    color: $color-gray-dark;
}
