<!DOCTYPE html>
<html ng-app="rzSliderDemo">

<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AngularJS Touch Slider</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="./lib/bootstrap.min.css">
  <link rel="stylesheet" href="../dist/rzslider.css"/>
  <link rel="stylesheet" href="demo.css"/>
  <link rel="stylesheet" href="css/index.css"/>
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
</head>

<body ng-controller="MainCtrl">

<div class="container" ng-if="spData && spConf">

    <h2 class="margin-y-g1 display-inline-block margin-right-g1">Debug slider</h2>
    <div class="debug-options display-inline-block" style="background:white;">
      <strong class="margin-right-1">settings:</strong>
      value: <input type="number" ng-model="spConf.value">
      <input ng-if="spConf.options.smoothDrag" type="number" ng-model="spConf.options.finalValue">
      advice: <input type="number" ng-model="spConf.options.showAdvice">
      min: <input type="number" ng-model="spConf.options.floor" min="1">
      max: <input type="number" ng-model="spConf.options.ceil">
      <button ng-click="parentBtnMinus()" ng-disabled="spConf.value == spConf.options.floor">parent -</button>
      <button ng-click="parentBtnPlus()" ng-disabled="spConf.value == spConf.options.ceil">parent +</button>
      <button ng-if="!spConf.options.smoothDrag" ng-click="toggleSmoothScroll()">smooth drag? {{spConf.options.smoothDrag}}</button>
    </div>

    <div class="debug-options">
      <strong class="margin-right-1">configure:</strong>

      <span ng-repeat="panel in spData.AvailablePanels">
        <button
          ng-click="selectProduct($index)"
          ng-bind="panel.name"
        ></button>
      </span>
      <pre>spConf.base.activeSolarPanel: {{ spConf.base.activeSolarPanel }}</pre>
    </div>
</div>
<div class="container" ng-if="spConf.base.activeSolarPanelIndex !== null">

    <!-- Solar Cart -->
    <div class="wrap-signup-product-summary solar">
      <div class="panel panel-signup solar panel-product-summary">
        <div class="panel-heading">
          <h3 class="color-primary">
            <span class="hdr-aligned">
              Jouw pakket.
            </span>
          </h3>
        </div>

        <div class="panel-body arrow-bottom">
          <div class="div-table table-no-resp table-unstyled table-solar-cart">
            <div class="div-tr">
              <div class="div-td">
                {{spConf.value}} Zonnepanelen {{spConf.base.activeSolarPanel.name}}
              </div>
              <div class="div-td td-price-stretch">
                <span>
                  <span class="currency">€</span>
                  &nbsp;{{ spConf.cart.PanelTotalPrice | number:2 }}
                </span>
              </div>
            </div>
            <div class="div-tr">
              <div class="div-td">
                SolarEdge SE3000 omvormer
                <ed-popover-info content="!!! sitecore popover text here"></ed-popover-info>
              </div>
              <div class="div-td td-price-stretch">
                <span>
                  <span class="currency">€</span>
                  &nbsp;{{ spConf.base.spInverter | number:2 }}
                </span>
              </div>
            </div>            
            <div
              ng-if="spConf.base.ReclaimBTW"
              class="div-tr tr-pad tr-shade margin-top-g1">
              <div class="div-td">
                + Automatisch btw terugvragen
              </div>
              <div class="div-td td-price-stretch">
                <span>
                  <span class="currency">€</span>
                  &nbsp;84,95
                </span>
              </div>
            </div>
            <div
              ng-if="spConf.base.ShowNewDiscount"
              class="div-tr tr-discount margin-top-g1"
              >
              <div class="div-td">
                Nu tijdelijk 10% korting
                <ed-popover-info content="!!! sitecore popover text here"></ed-popover-info>
              </div>
              <div class="div-td td-price-stretch">
                <span>
                  <span class="currency">€</span>
                  &nbsp;350,51
                </span>
              </div>
            </div>
            <div class="div-tr tr-divider-line light">
            </div>
            <div class="div-tr">
              <div class="div-td">
                Subtotaal (incl. btw)
                <ed-popover-info content="!!! sitecore popover text here"></ed-popover-info>
              </div>
              <div class="div-td td-price-stretch">
                <span>
                  <span class="currency">€</span>
                  &nbsp;{{ spConf.cart.Subtotal | number:2 }}
                </span>
              </div>
            </div>
            <div class="div-tr">
              <div class="div-td">
                Terug te vragen btw ({{ spConf.base.rateBTW * 100 }}%)
                <ed-popover-info content="!!! sitecore popover text here"></ed-popover-info>
              </div>
              <div class="div-td td-price-stretch">
                <span>
                  <span class="currency">€</span>
                  &nbsp;{{ spConf.cart.RefundBTW | number:2 }}
                </span>
              </div>
            </div>
            <div class="div-tr tr-divider-line">
            </div>
            <div class="div-tr tr-strong">
              <div class="div-td">
                Totale investering
                <ed-popover-info content="!!! sitecore popover text here"></ed-popover-info>
              </div>
              <div class="div-td td-price-stretch">
                <span>
                  <span class="currency">€</span>
                  &nbsp;{{ spConf.cart.TotalInvestment | number:2 }}
                </span>
              </div>
            </div>
            <div
              ng-if="spConf.base.ShineOnService"
              class="div-tr">
              <div class="div-td">
                + Pak-de-zon-service per jaar
                <ed-popover-info content="!!! sitecore popover text here"></ed-popover-info>
              </div>
              <div class="div-td td-price-stretch">
                <span>
                  <span class="currency">€</span>
                  &nbsp;29,95
                </span>
              </div>
            </div>
            <div class="div-tr">
              <div class="div-td">
                <span class="color-primary">
                  <i class="fa fa-check fa-small"></i>
                  Inclusief installatie & montage
                </span>
              </div>
            </div>
          </div>
          <!--(END) table -->
        </div>

        <div class="panel-body ftr-cart">
          <button class="btn btn-default">Offerte aanvragen</button>
          <h4>Besparing per jaar (2.565 kWh)</h4>
          <span>Terugverdiendtijd 7 jaar en 5 maanden</span>
          <ed-popover-info content="!!! sitecore popover text here"></ed-popover-info>
        </div>
      </div>
    </div>
    <!-- (END) Solar Cart -->

    <div class="wrap-signup-form bg-steps enable-animation">

      <!-- Solar Widget - PRODUCT SELECTION -->
      <div class="panel panel-signup solar panel-naked display-none amcust">
        <div class="panel-heading with-btn-right">                
          <h4>
            <span class="stepnum">
              1
            </span>
            <span class="hdr-aligned">
              Kies je paneeltype.
            </span>
          </h4>
          <a>
            Panelen vergelijken
          </a>
        </div>

        <div class="panel-body padding-0">
          <div class="flexWrap-shared">
            <div class="row-flex has-2-cols has-no-gap btn-panel-wrap">
              <a
                ng-repeat="panel in spData.AvailablePanels"
                class="col-flex btn-panel btn-select-product"
                ng-class="{'active':spConf.base.activeSolarPanelIndex == $index}"
                ng-click="selectProduct($index)"
                >
                <img style="height:30px;">
                <div class="text">
                  <h4 ng-bind="panel.name"></h4>
                  <span class="power" ng-bind="panel.kwh"></span>
                  <span class="price" ng-bind="panel.Costs | number:2"></span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- (END) Solar Widget - PRODUCT SELECTION -->

      <div class="amcust-slider">
          <div class="heading-output">
              <span class="panels-count"><span ng-bind="spConf.options.smoothDrag ? spConf.options.finalValue : spConf.value"></span> panelen</span>
              <span class="panels-output"><span class="LblOutput">Opbrengst</span><strong>
                  <span ng-if="!spConf.options.smoothDrag" ng-bind="spConf.value * spConf.options.powerOutput | number : 3"></span>
                  <span ng-if="spConf.options.smoothDrag" ng-bind="spConf.options.finalValue * spConf.options.powerOutput | number : 3"></span>
                  kWh/jr</strong>
              </span>
          </div>
          <div class="slider-wrap">
              <rzslider
                  rz-slider-model="spConf.value"
                  rz-slider-final-model="spConf.options.finalValue"
                  rz-slider-options="spConf.options"
                  rz-slider-tpl-url="amcustTemplate.html"
              ></rzslider>
          </div>
      </div>
      
      <!-- Solar Widget - Extra Services -->
        <div class="panel panel-signup solar panel-naked">
            <div class="panel-heading">
                <h4>
                    <span class="stepnum">
                        3
                    </span>
                    <span class="hdr-aligned">
                        Kies je extra services.
                    </span>
                </h4>
            </div>
            <div class="panel-heading-summary indent-to-match-step-title">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu purus pharetra, efficitur mi quis, consequat massa. Maecenas a lorem neque. Pellentesque tellus massa.</p>
            </div>

            <div class="panel-body no-style">
                <div class="flexWrap-shared">
                    <div class="row-flex has-2-cols btn-panel-wrap">

                        <!-- col-flex -->
                        <div class="col-flex div-panel">                            
                            <div class="div-panel-heading with-link-right">
                                <h4>BTW terugvragen</h4>
                                <a>
                                    Meer info
                                </a>
                            </div>
                            <div class="flexWrap-shared">
                                <div class="row-flex has-2-cols has-no-gap btn-panel-wrap">
                                    <div
                                      class="col-flex btn-panel"
                                      ng-click="spConfSetReclaimBTW(false)"
                                      ng-class="{'active':!spConf.base.ReclaimBTW}"
                                      >
                                        <div class="text">
                                            <span class="strong">Zelf regelen</span>
                                            <span class="price">€ 0,-</span>                                        
                                        </div>
                                    </div>
                                    <div
                                      class="col-flex btn-panel"
                                      ng-click="spConfSetReclaimBTW(true)"
                                      ng-class="{'active':spConf.base.ReclaimBTW}"
                                      >
                                        <div class="text">
                                            <span class="strong">Automatisch</span>
                                            <span class="price">€ 84,95</span>    
                                        </div>                                                                            
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- (END) col-flex -->

                        <!-- col-flex -->
                        <div class="col-flex div-panel">                            
                            <div class="div-panel-heading with-link-right">
                                <h4>Shine on service</h4>
                                <a>
                                    Meer info
                                </a>
                            </div>
                            <div class="flexWrap-shared">
                                <div class="row-flex has-2-cols has-no-gap btn-panel-wrap">
                                    <div
                                      class="col-flex btn-panel"
                                      ng-click="spConfSetShineOnService(false)"
                                      ng-class="{'active':!spConf.base.ShineOnService}"
                                      >
                                        <div class="text">
                                            <span class="strong">Geen</span>
                                            <span class="price">€ 0,-</span>                                        
                                        </div>
                                    </div>
                                    <div
                                      class="col-flex btn-panel"
                                      ng-click="spConfSetShineOnService(true)"
                                      ng-class="{'active':spConf.base.ShineOnService}"
                                      >
                                        <div class="text">
                                            <span class="strong">Shine on service</span>
                                            <span class="price">€ 29,95 per jaar</span>    
                                        </div>                                                                            
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- (END) col-flex -->
                    </div>
                </div>
            </div>
        </div>
        <!-- (END) Solar Widget - Extra Services -->
    </div>

</div>

</body>
<script src="../node_modules/angular/angular.js"></script>
<script src="./lib/ui-bootstrap-tpls.js"></script>
<script src="../src/rzslider.js"></script>
<script src="demo.js"></script>
</html>